.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.Arrange {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}

.Arrange-sizeFill,
.Arrange-sizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}

.Arrange-sizeFill {
  width: 100%;
}

.Arrange-sizeFit--middle,
.Arrange-sizeFill--middle {
  vertical-align: middle;
}

.Resume {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.809em;
  padding-right: 0.809em;
  max-width: 60em;
  font-family: "ff-meta-serif-web-pro", Georgia;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343434;
}

.PrintMessage {
  border-bottom: solid 1px black;
  display: none;
  font-family: "ff-meta-web-pro", sans-serif;
  padding: 1.8em;
  text-align: center;
}

@media (min-width: 30em) {
  .Resume {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (min-width: 50em) {
  .Resume {
    padding-left: 1.618em;
    padding-right: 1.618em;
  }
}

.Resume-contact {
  font-family: "ff-meta-web-pro", Georgia;
}

.Resume-email {
  color: #666;
}

.Resume-intro {
  margin-top: 1em;
  margin-bottom: 1.618em;
}

@media (min-width: 38em) {
  .Resume-contact {
    box-sizing: border-box;
    float: left;
    padding-right: 1.618rem;
    width: 33%;
  }

  .Resume-intro {
    box-sizing: border-box;
    float: left;
    width: 65%;
  }
}

@media (min-width: 60em) {
  .Resume-contact {
    width: 50%;
  }

  .Resume-intro {
    width: 50%;
  }
}

.Prose {
  line-height: 1.45;
  /* max-width: 34em; */
}
.Prose p:first-of-type {
  margin-top: 0;
}

.Grouping-title {
  font-family: "ff-meta-web-pro", sans;
  font-size: 1.618em;
  padding-right: 1.618em;
  padding-bottom: 1em;
}

@media (min-width: 38em) {
  .Grouping-title {
    box-sizing: border-box;
    margin-left: 33%;
  }
}

@media (min-width: 60em) {
  .Grouping-title {
    float: left;
    width: 25%;
    margin-top: 0;
    margin-left: 0;
    position: sticky;
    text-align: left;
    top: 0.618rem;
  }

  .Grouping-subject {
    box-sizing: border-box;
    float: left;
    width: 75%;
  }
}

.Job-dates {
  text-align: center;
}

.Job-info {
  padding-top: 0.3em;
  padding-bottom: 2em;
  line-height: 1.45;
}

.Job-company {
  font-family: "ff-meta-web-pro", sans;
  font-weight: 600;
}

.Job-title {
  color: #666;
  font-family: "ff-meta-web-pro", sans;
  white-space: nowrap;
}

@media (min-width: 38em) {
  .Job-dates {
    box-sizing: border-box;
    float: left;
    width: 33.333%;
    padding-top: 0.4em;
    padding-right: 1.618rem;
    position: sticky;
    top: 0.618rem;
    text-align: right;
  }

  .Job-info {
    box-sizing: border-box;
    float: left;
    width: 66.666%;
    padding-bottom: 2em;
  }

  .Job-company {
    font-size: 1.3em;
  }

  .Job-title {
  }
}

.Dates {
  /* background-color: hsl(3, 60%, 54%); */
  /* border-radius: 0.2em; */
  /* box-sizing: border-box; */
  /* color: white; */
  color: #666;
  /* display: block; */
  font-family: "ff-meta-web-pro", sans;
  font-feature-settings: "lnum" on;
  /* font-size: 0.8em; */
  /* font-weight: 600; */
  /* line-height: 1; */
  /* margin-top: 0.618em; */
  /* margin-bottom: 1em; */
  /* padding: 0.4em 0.4em; */
  /* text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.3); */
  /* white-space: nowrap; */
}

@media print {
  html {
    font-size: 8pt;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  /* a[href]:after { */
  /*   content: " (" attr(href) ")"; */
  /* } */

  /* abbr[title]:after { */
  /*   content: " (" attr(title) ")"; */
  /* } */
  /* a[href^="#"]:after, */
  /* a[href^="javascript:"]:after { */
  /*   content: ""; */
  /* } */

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .PrintMessage {
    display: block;
  }
}
