* {
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-snap-type: proximity;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  line-height: 1.618;
}

.Intro {
  padding: 1em;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

.Intro-flexible {
  flex: 1;
  overflow: hidden;
}

.Intro-byline {
  margin-top: 0.618em;
  flex-shrink: 0;
}

.js-Checkboxes {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 1 forwards;
}

.isPaused {
  animation-play-state: paused;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.Portfolio {
  background-color: black;
  color: white;
  min-height: 100vh;
  scroll-snap-align: start;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 16px;
}

.Portfolio img {
  border-radius: 4px;
  max-width: 100%;
}

.Portfolio a {
  color: inherit;
  text-decoration: none;
  color: white;
}

.Portfolio a:hover {
  text-decoration: underline;
}

.Portfolio h2 {
  font-size: 1.2em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.Portfolio-description {
  color: #999;
  line-height: 1.45;
}
