$border: rgba(253,165,145,1);
$aname: rgba(253,165,145,1);
$dominant: rgba(253,165,145,1);
$gray: rgba(100,100,100,1);

$first: 34em;
$big: 30em;

// Mobile first, babe
// @mixin breakpoint($point) {
//   @if $point ==  {
//     @media (max-width: 1600px) { @content; }
//   }
//   @if $point == mama-bear {
//     @media (max-width: 1250px) { @content; }
//   }
//   @else if $point == first {
//     @media (max-width: 650px)  { @content; }
//   }
// }

.wf-loading {
  height: 100%;
  overflow: hidden;
  background: url(ajax-loader.gif) center center no-repeat fixed;
}

.wf-loading * {
  opacity: 0;
}

.wf-active body, .wf-inactive body {
  -webkit-animation: fade 1s ease;
     -moz-animation: fade 1s ease;
    -ms-animation: fade 1s ease;
     -o-animation: fade 1s ease;
      animation: fade 1s ease;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
     -o-animation-fill-mode: both;
      animation-fill-mode: both;
}

@-webkit-keyframes fade {
  0% { display: none; opacity: 0; }
  1% { display: block; }
  100%{ opacity: 1; }
}

@-moz-keyframes fade {
  0% { display: none; opacity: 0; }
  1% { display: block; }
  100%{ opacity: 1; }
}

@-ms-keyframes fade {
  0% { display: none; opacity: 0; }
  1% { display: block; }
  100%{ opacity: 1; }
}

@-o-keyframes fade {
  0% { display: none; opacity: 0; }
  1% { display: block; }
  100%{ opacity: 1; }
}

@keyframes fade {
  0% { display: none; opacity: 0; }
  1% { display: block; }
  100%{ opacity: 1; }
}

* {
  margin: 0; padding: 0; position: relative;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
  font-size: 90%;
  height: 100%;

  @media (min-width: 34em) {
    font-size: 140%;
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


body {
  background: $dominant;
  // box-shadow: inset 0 0 25em rgba(100, 100, 100, 0.3);
  font: 100%/1.5 "ff-tisa-web-pro", georgia, serif;font-family: "ff-tisa-web-pro",serif;
  // -webkit-font-feature-settings: "liga", "dlig";
  // -moz-font-feature-settings: "liga=1, dlig=1";
  // -ms-font-feature-settings: "liga", "dlig";
  // -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  line-height: 1.5;
}

h1 {
  font-family: "proxima-nova-alt",sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
  // white-space: nowrap;
}

h2, h3{
  font-family: "facitweb",sans-serif;
  font-size: 1.5rem;
}
h3 {
  font-style: normal;
  font-weight: 300;
  color: $gray;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}




header {
  font-family: "facitweb",sans-serif;
  color: $gray;
  font-size: 1em;

  a {
    text-decoration: none;
    color: $gray;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  a:hover {
    text-decoration: underline;
  }

  h1 {
    line-height: 1;
    font-size: 5rem;
    color: white;
  }
}

article {
  height: 100%;
  background: white;
  // background-image: url(brillant.png);
  background-attachment: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  max-width: 50em;
}

.wrap { /* Abstract our container */
  margin: 0 auto;
  padding: 2.5rem 1rem;
  position: relative;
  max-width: 34em;
}

.dates {
  @media (min-width: 80em) {
      position: absolute;
      left:-6em;
      margin-bottom: 3em;
  }
}

@media print {

  html {
    font-size: 80%;
  }

  a[href^="http"]:after {
    content: " (" attr(href) ")"; font-size: 90%;
  }

}
