$essay-text: "essay-text";
$wayfinding: "wayfinding-sans";
$soleil: "soleil";
$chaparral: "chaparral-pro-display";
$proxima-nova: "proxima-nova";
$font-meta-sans: "ff-meta-web-pro";
$font-meta-serif: "ff-meta-serif-web-pro";

$font-serif: $font-meta-serif, "Iowan", "Georgia", serif;
$font-sans-serif: $font-meta-sans, sans-serif;
$font-monospace: "Inconsolata LGC", monospace;

$font-branding: $font-serif;

