@import "./components/Project";

$gradient-start: #DE6262;
$gradient-end: #FFB88C;

$essay-text: "essay-text";
$wayfinding: "wayfinding-sans";
$soleil: "soleil";
$font-serif: "Iowan", "Georgia", serif;
$font-monospace: "Inconsolata LGC", monospace;
$font-branding: $font-serif;

$text-color: #444;

%font {
  font-family: $font-branding;
  font-weight: 400;
  color: $text-color;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: 20px;
}

.Lip {
  min-height: 0.618rem;
  background: linear-gradient(90deg, $gradient-start 10%, $gradient-end 90%)
}

.Page {
  height: 100vh;
  @extend %font;
  padding-left: 1.618em;
  padding-right: 1.618em;
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
}

.Page-logo {
  margin-top: 1.618em;
  float: left;
}

.Page-menu {
  margin-top: 1.618em;
  float: right;
}

.Page-body {
  margin-top: 1.618em;
  clear: both;
}

.Name {
  font-weight: bold;
}

.Menu {
  position: relative;
  &:hover {
    .Menu-button {
      opacity: 0;
    }

    .Menu-contents {
      opacity: 1;
    }
  }
}

.Menu-button {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  transition: opacity 0.2s ease-in-out;
}

.Menu-contents {
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.greetings {
  margin-top: 1.618em;
}

.pill {
  color: white;
  background-color: $text-color;
  border-radius: 0.12em;
  padding: 0.2em 0.4em;
  text-decoration: none;
}

.fill-pink {
  background-color: $gradient-start;
}

.fill-orange {
  background-color: $gradient-end;
}

.center {
  text-align: center;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

p {
  line-height: 1.6;
}
