<!--
Full source available here:

https://github.com/sch/sch.github.com
-->


<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Adrian Schaedle" />
    {% include title.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/stylesheets/gradient.css" />

    {% include google-analytics.html %}
    {% include typekit.html %}
  </head>
  <body>
    <div class="Lip"></div>
    <div class="Page">
      <div class="clearfix">
        <h1 class="Page-logo Name">Adrian Schaedle</h1>
      </div>
      <div class="Page-body">
        {{ content }}
      </div>
    </div>
  </body>
</html>
